@model decimal
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Essential Tools for MVC</h1>
    <p class="lead">Sample code.</p>
</div>

<div class="row">
    <div class="col-md-12">
        The Total value is $@Model
    </div>    
</div>